<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="C:\javaStudy\workspace_front\mysite\assets\css\mysite.css">
<link rel="stylesheet"  href="C:\javaStudy\workspace_front\mysite\assets\css\main.css">
<link rel="stylesheet"  href="C:\javaStudy\workspace_front\mysite\assets\css\board.css">

</head>
<body>

<div id="wrap">
	<div id="header" class="clearfix">
		<h1>Mysite</h1>
		<ul class="clearfix"> 
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
	<!-- //header -->

	<div id="nav">
		<ul class="clearfix">
			<li>입사지원서</li>
			<li>게시판</li>
			<li>갤러리</li>
			<li>방명록</li>
		</ul>
	</div>
	<!-- //nav -->


	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
		
			<ul>
				<li>일반게시판</li>
				<li>댓글게시판</li>
				<li>첨부게시판</li>
			</ul>
		</div>
		<!-- //aside -->
		
		<div id="main-content">
			<div id="main-content-header" class="clearfix">
				<h3>일반게시판</h3>
				<ol>
					<li>홈</li>
					<li>게시판</li>
					<li class="list-last">일반게시판</li>
				</ol>
			</div>
				<div id="table-s-back">
					<button class="butn-s">검색</button>
					<input id="txt-s"type="text">
			
				</div>
								
			<table>
			<colgroup>
	        	<col style="width: 50px">
	        	<col style="width: 250px">
	        	<col style="width: 160px">
	        	<col style="width: 160px">
	        	<col style="width: 160px">
	        	<col style="width: 120px">
	        </colgroup>
				<thead>
					<tr>
						<th class="td">번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td">aaaa</td>
						<td>bbbbbbbbbbbb</td>
						<td>ccccccc</td>
						<td>ddddddd</td>
						<td>ddddddd</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td class="td">aaaa</td>
						<td>bbbbbbbbbbbb</td>
						<td>ccccccc</td>
						<td>ddddddd</td>
						<td>ddddddd</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td class="td">aaaa</td>
						<td>bbbbbbbbbbbb</td>
						<td>ccccccc</td>
						<td>ddddddd</td>
						<td>ddddddd</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td class="td">aaaa</td>
						<td>bbbbbbbbbbbb</td>
						<td>ccccccc</td>
						<td>ddddddd</td>
						<td>ddddddd</td>
						<td>삭제</td>
					</tr>
					<tr>
						<td class="td">aaaa</td>
						<td>bbbbbbbbbbbb</td>
						<td>ccccccc</td>
						<td>ddddddd</td>
						<td>ddddddd</td>
						<td>삭제</td>
					</tr>
				</tbody>				
			</table>
			<div class="li-order">
				<ul>
					<li>◀</li>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
					<li>6</li>
					<li>7</li>
					<li>8</li>
					<li>9</li>
					<li>10</li>
					<li>▶</li>	
					
						<button class="wri">글쓰기</button>
									
				</ul>
				
			</div>			
		</div>	
		<!-- //main-content -->						
	
	</div>
	<!-- //full-contents -->

	<div id="footer">
		Copyright ⓒ 2020 황일영, All right reserved
	</div>
	<!-- //footer -->
</div>
<!-- //wrap -->

</body>
</html>